body {
    background-color: rgb(64,64,64);
    color:white;

    font-family: "Lucida Console", Monaco, monospace;
}

.panel {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.centered {
	display: table;
	margin: 0 auto;
	text-align: center; 
	width:100%;
}

.bubble {
	width:75%;
	margin-top:25px;
	
	width:40%;

	border:solid;
	border-radius: 10px;
	padding: 5px;

	font-size: large;
}

.left {
	color:darkgrey;

	text-align:left;
	float:left;
	margin-left:25%;
}

.right {
	color:lightgrey;

	text-align:right;
	float:right;
	margin-right:25%;
}

.clear {
	clear:both;	
}

.logo {
	color:lightgray;
	font-weight: bold;
	font-size: xx-large;
}

.stdin {
	background-color: darkgrey;
	font-size: large;

	border-radius: 5px;
}

.key-input {
	background-color: darkgrey;
	font-size: large;
	text-align: left;
	border-radius: 5px;
	width: 500px;
}